body {
	padding-top: 80px;
	padding-bottom: 50px;
  padding-left: 3rem;
  padding-right: 3rem;

}
#logo-img{
  width: 70px;
  height: 40px;
  margin: 0.5rem;
  box-sizing: border-box;

}
div .list {
	display: flex;
	flex-wrap: wrap;
}
div .list h4 {
  margin-bottom: 1rem;
  width: 100%;
}
.btnAdd {
	line-height: 0.428571 !important;
	margin-left: 1.5rem;
  margin-bottom: 1rem;
  max-height: 38px;
}
.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 3rem;
  height: 50rem;

}
.list-group {
  width: 100%;
}
.list-group a {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  border-radius: 4px;
}
.list-group a span {
  width: 100%;
}
form .form-group textarea {
  max-height: 80px;
  max-width: 740px;
}
#show {
  width: 100%;
  padding: 20px;
  border: 0;
}
#show > .panel-heading {
  border: 1px solid #ddd ;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#show > .panel-heading > a {
  font-size: 17px;
  color: black;

}
#show > .panel-heading > .del {
  font-size: 22px;
  color: black;

}
#show > .panel-body {
  border: 1px solid #ddd ;
}
#show > .panel-body > .input-group {
  margin-bottom: 1rem;
}
