{% if flash.getMessage('info') %}
	<div class="container-alert">
		<div class="alert alert-info">{{ flash.getMessage('info') | first }}</div>
	</div>
{% endif %}

{% if flash.getMessage('error') %}
	<div class="container-alert">
		<div class="alert alert-danger">{{ flash.getMessage('error') | first }}</div>
	</div>
{% endif %}
